[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/vim-bundles/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/vim-bundles/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/vim-bundles/nerdcommenter.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/vim-bundles/gist-vim.git
[submodule "bundle/vim-pastie"]
	path = bundle/vim-pastie
	url = git://github.com/vim-bundles/vim-pastie.git
