[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/vim-bundles/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/vim-bundles/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/vim-bundles/nerdcommenter.git
